<form class="create-post-form">
    <div>
        <label for="post-title-input">Title:</label>
        <input type="text" id="post-title-input">
    </div>
    <div>
        <label for="post-content-textarea">Title:</label>
        <textarea type="text" id="post-content-textarea"></textarea>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
<script src="/javascript/createPost.js"></script>