<ul class="post-list" style = "list-style-type:none">
  {{#if loggedIn}}
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ul>
{{else}}
  {{#each posts as |post|}}
  <li>
    {{> post-info-loggedOut post }}
  </li>
  {{/each}}
</ul>
{{/if}}