<ul class="post-list" style = "list-style-type:none">
  {{#each posts as |post|}}
  <li>
    {{#if loggedIn}}
    {{> post-info post }}
    {{else}}
    {{> post-info-loggedOut post }}
    {{/if}}
  </li>
  {{/each}}
</ul>