* {
  font-family: sans-serif;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

header {
  background-color: #A9BEB8;
  border-bottom: 1px solid #ccc;
  align-items: center;
  padding: 25px;
  width: 100%;
}

body {
  background-color: #F3F8F6;
  margin: 0;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

main {
  padding: 2% 4%;
}

/* #post-content-textarea {
  width: 400px;
  height: 200px;
} */

.content-div {
  min-height: 75px;
}

.post-top {
  background-color: #A9BEB8;
  display: flex;
  justify-content: space-between;
}

.post {
  border: 10px solid #A9BEB8;
  margin: 7.5px;
  border-radius: 25px;
}

#add-post-form {
  display: none;

}

.btn-wrap {
  display: flex;
  justify-content: center;
}

.post-title, .post-info, .content-div {
  margin: 7.5px;
}



